.background {
    background-color: rgba(53, 78, 122, 1);
    width: 100vw;
    height: 100vh;
}
.product-text-header {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 50px auto;
    max-width: 1000px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 26, 26, 0.95);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 220px;
    height: 200px;
    object-fit: cover;
    background-image: url('./images/paper.png');
    border: none;
}

.product-name {
    margin-top: 10px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    background-color: rgba(53, 78, 122, 1);
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}
.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.add-button:hover {
    transition: all 0.3s ease;
    color: rgba(53, 78, 122, 1);
}
.product-price {
    color: white;
    margin-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}
.tooltip {
    position: absolute;
    background-color: rgba(27, 26, 26, 0.95);
    color: white;
    border: 1px solid rgba(27, 26, 26, 0.75);
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
    transform: translate(-50%, -10px);
    white-space: nowrap;
}
.info-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 25px;
    color: white;
}
.product-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}